@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-pdomjf');
	src:url('fonts/icomoon.eot?#iefix-pdomjf') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-pdomjf') format('truetype'),
		url('fonts/icomoon.woff?-pdomjf') format('woff'),
		url('fonts/icomoon.svg?-pdomjf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e607";
}
.icon-arrow-right:before {
	content: "\e60b";
}
.icon-study-nature:before {
	content: "\e606";
}
.icon-book:before {
	content: "\e600";
}
.icon-checkbox:before {
	content: "\e601";
}
.icon-contact:before {
	content: "\e602";
}
.icon-del:before {
	content: "\e603";
}
.icon-dollar:before {
	content: "\e604";
}
.icon-fb:before {
	content: "\e605";
}
.icon-point:before {
	content: "\e608";
}
.icon-rank:before {
	content: "\e609";
}
.icon-search:before {
	content: "\e60a";
}
.icon-study-art:before {
	content: "\e60d";
}
.icon-study-business:before {
	content: "\e60e";
}
.icon-study-education:before {
	content: "\e60f";
}
.icon-study-health:before {
	content: "\e610";
}
.icon-study-tech:before {
	content: "\e611";
}
