// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

+font(Gotham Book, GothamBook)
=f
	font-family: "Gotham Book", Arial, sans-serif
+font(Gotham Bold, GothamBold)
=fb
	font-family: "Gotham Bold", Arial, sans-serif
+font(Gotham Black, GothamBlack)
=fbl
	font-family: "Gotham Black", Arial, sans-serif
+font(Kalam Regular, kalam-regular)
=fk
	font-family: "Kalam Regular", Arial, sans-serif

=fi
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

$cl: #23232c
$gray: #424242
$orange: #fd8e26

body
	min-width: 320px
	background: #EDEDED 
	+f
	font-size: 14px
	line-height: 1.3
	color: $cl
	font-smoothing: antialiased
a
	text-decoration: none
input,
textarea,
button
	+f
	font-size: 14px
button
	background: transparent

// common blocks
=scroll
	overflow: auto
	+rm(760)
		&::-webkit-scrollbar
			width: 8px
			background: transparent
		&::-webkit-scrollbar-track
			background: transparent
		&::-webkit-scrollbar-thumb
			background: rgba($cl,.5)
		&::-webkit-scrollbar-track-piece

.wrapper
	position: absolute
	top: 0
	left: 0
	width: 100%
	min-width: 320px
	height: 100%

.header,
.footer
	position: fixed
	left: 0
	right: 0
	min-width: 320px
	height: 60px
	background: #FFF
	box-shadow: 0 0 7px rgba(#000,.3)
	+r(1020)
		height: 50px
.header
	top: 0
	z-index: 99
	.header__logo
		float: left
		margin-right: 10px
		+r(1020)
			margin: 0
	.header__menu
		display: none
		float: right
		position: relative
		width: 60px
		height: 50px
		padding: 0 10px
		font-size: 0
		+r(760)
			display: block
		&:before,
		&:after
			content: ""
			position: absolute
			width: 20px
			left: 50%
			margin-left: -10px
			+tr(all .4s)
		&:before
			top: 19px
			height: 2px
			background: #a0a0a0
		&:after
			top: 24px 
			height: 7px
			box-shadow: 0 2px 0 0 #a0a0a0 inset, 0 -2px 0 0 #a0a0a0 inset
		&.is-active
			&:before,
			&:after
				top: 24px 
			&:before
				+rotate(45)
			&:after
				height: 2px
				+rotate(135)
	.header__fb
		position: relative
		float: right
		width: 61px
		padding-left: 1px
		line-height: 60px
		text-align: center
		color: $gray
		+transition(background .2s, color .2s)
		+vertical
		+r(1020)
			line-height: 50px
		+r(760)
			display: none
		&:hover
			background: #3A5898
			color: #fff  
			&:after
				left: -1px
				opacity: 0 
		&:after
			content: ""
			position: absolute
			top: 10px
			left: 0
			bottom: 10px
			width: 1px
			background: #ecf0f1
			+tr(opacity .2s)
			+r(1020)
				top: 5px
				bottom: 5px
		.icon
			font-size: 18px
			vertical-align: middle
	.header__title
		float: right
		padding: 0 20px
		+fbl
		font-size: 18px
		line-height: 60px
		+r(1020)
			padding: 0 10px
			font-size: 14px
			line-height: 50px 
		+r(760)
			display: none
		span
			color: $orange
	.header__search
		padding: 12px 0
		overflow: hidden
		+r(1020)
			padding: 7px 0
		+r(760)
			display: none
.footer
	bottom: 0
	z-index: 97 
	+r(760)
		top: 0
		bottom: auto
		height: auto
		max-height: 100%
		padding-top: 50px
		visibility: hidden
		opacity: 0 
		+tr(all .2s)
		overflow: auto
		&.is-active
			visibility: visible
			opacity: 1 
	.footer__links
		float: left
		+r(760)
			float: none
	.footer__copyright
		float: right
		padding: 0 20px
		color: rgba($gray,.5) 
		line-height: 60px
		+r(1020)
			padding: 0 10px 0 0
			line-height: 50px
			font-size: 12px
		+r(760)
			display: none
	.footer__btn
		padding: 25px 20px
		border-top: 1px solid #eaeeef
	.footer__btn-el
		width: 100%
		text-transform: none

.container
	position: absolute
	top: 60px
	bottom: 60px
	left: 0
	right: 0
	z-index: 2
	&.container_page
		position: relative
		top: 0
		bottom: auto
	+r(1020)
		top: 50px
		bottom: 50px
	+r(760)
		bottom: 0
	
.aside
	position: absolute
	top: 0
	right: 0
	width: 300px
	bottom: 0
	+r(760)
		width: 100%
	
.section
	position: absolute
	top: 0
	left: 0
	right: 300px
	bottom: 0
	background: #000
	+r(760)
		display: none
	&.is-list-show
		background: #ebebeb
		.section__bg,
		.section__content
			display: none
		.section__body
			&:before
				display: none
		.section__list
			display: block
		.selected__title
			color: #46464E
	&.is-scroll
		.section__head
			&:after
				content: ""
				position: absolute
				left: 0
				right: 0
				bottom: -3px
				height: 3px
				background: rgba(0,0,0,.15)
				box-shadow: 0 1px 0 rgba(0,0,0,.15) inset
	.section__bg,
	.section__wrap
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	.section__bg
		+cover
		background-image: url(../img/bg.jpg)
		opacity: .8
	.section__wrap
		z-index: 2
	.section__head,
	.section__body
		position: absolute
		left: 0
		right: 0
	.section__head
		top: 0
		z-index: 4 
	.section__body
		bottom: 0
		+scroll
		font-size: 0
		z-index: 2 
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: bottom
	.section__content
		display: inline-block
		padding: 40px 60px
		vertical-align: bottom
		+r(1020)
			padding: 20px
	.section__list
		display: none
		padding-top: 4px
		
.content
	align-self: flex-end
	color: #FFF 
	vertical-align: bottom
	.content__title
		margin-bottom: 25px
		+fbl
		font-size: 48px
		line-height: 1.2
		+r(1020)
			margin-bottom: 10px
			font-size: 42px
	.content__text
		font-size: 24px
		line-height: 1.7
		+r(1020)
			font-size: 22px
	br
		+r(1020)
			display: none

.logo
	display: block
	min-height: 60px
	padding: 13px 20px
	font-size: 0
	color: $gray
	+r(1020)
		min-height: 50px
		padding: 8px 10px
	.logo__icon,
	.logo__title
		display: inline-block
		vertical-align: middle
	.logo__icon
		margin-right: 8px
	.logo__bold,
	.logo__thin
		display: inline-block
		font-size: 18px
	.logo__bold
		+fb
	.logo__thin
		margin-right: 1px
		+f
		letter-spacing: -1px 

.input
	width: 100%
	height: 44px
	padding: 0 10px
	border: 2px solid #E5EBEB
	+placeholder-color(#b5bebf)
	+tr(border-color .2s)
	&.input_area
		display: block
		height: 70px
		padding: 12px 10px
	&:focus
		border-color: #9ad8ad

.search
	position: relative
	.search__input
		height: 34px
		padding-right: 40px
		border-width: 1px
		+placeholder-color(rgba($gray,.7))
	.search__btn
		position: absolute
		top: 0
		right: 0
		width: 40px
		height: 34px
		font-size: 0
		.icon
			font-size: 18px
			color: #B7B8BC 

.links
	display: table
	+r(760)
		display: block
	.links__item,
	.links__icon,
	.links__title
		display: table-cell
		height: 52px
		vertical-align: middle
		+r(1020)
			height: 42px
		+r(760)
			height: auto
	.links__item
		padding: 4px 20px 0
		border-bottom: 4px solid transparent 
		color: $gray
		+tr(all .2s)
		+r(1020)
			padding: 4px 7px 0
		+r(760)
			display: block
			padding: 24px 20px
			box-shadow: 20px 2px 0 #f4f6f6
			border: none
			&:active,
			&:last-child
				box-shadow: none
		&:hover
			border-color: $orange
		&:active,
		&.is-active
			background: $orange
			color: #FFF
			.links__title
				color: #FFF
				span
					color: #FFF
			.links__pictures
				img
					opacity: 0
					&:last-child
						opacity: 1 
	.links__icon
		padding-right: 10px
		+r(1020)
			padding-right: 5px
		+r(760)
			padding-right: 10px
	.links__pictures
		display: inline-block
		position: relative
		img
			width: auto
			height: 31px
			+tr(opacity .2s)
			+r(1020)
				height: 20px
			+r(760)
				height: 31px
			&:last-child
				position: absolute
				top: 0
				left: 0
				opacity: 0 
	.links__title
		color: #808080
		+tr(color .2s)
		+r(1100)
			font-size: 12px
		+r(1020)
			line-height: 1
		+r(760)
			font-size: 14px
		span
			+fb
			color: $gray
			+tr(color .2s)
			+r(760)
				font-size: 18px

.steps
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: #b7b8bc
	.steps__counter
		font-size: 0
		button
			width: 33.33%
			height: 60px
			background: #6F7177 
			+fbl
			font-size: 26px
			+tr(background .2s)
			+r(760)
				height: 50px
			&:first-child
				width: 33.34%
			&:hover
				background: #8C8D93 
			&.is-active
				background: #B7B8BC
	.steps__item
		display: none
		position: absolute
		top: 60px
		left: 0
		right: 0
		bottom: 0
		background: #b7b8bc
		+r(760)
			top: 50px
	.steps__head
		position: relative
		z-index: 4 
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: -3px
			height: 3px
			background: rgba(0,0,0,.15)
			box-shadow: 0 1px 0 rgba(0,0,0,.15) inset
	.steps__head_info
		&.is-active
			&:after
				display: none
		.steps__head-in
			+r(760)
				display: none
		.steps__head-info
			+r(760)
				display: block
	.steps__head-in
		height: 160px
		padding: 15px 20px
		font-size: 30px
		line-height: 1.2
		+r(760)
			height: 50px
			padding: 11px 0 11px 20px 
			font-size: 18px
		span
			display: block
			+fbl
			font-size: 56px
			line-height: 1
			+r(760)
				display: inline
				font-size: 24px
		br
			+r(760)
				display: none
	.steps__head-info
		display: none
		overflow: hidden
	.steps__head-counter
		float: left
		padding: 0 20px
		+fbl
		font-size: 18px
		line-height: 50px
	.steps__head-btn
		position: relative
		float: right
		height: 50px
		padding: 0 25px
		font-size: 18px
		+tr(color .2s)
		&.is-active
			color: #fff 
			&:after
				content: ""
				position: absolute
				bottom: 0
				left: 50%
				margin-left: -7px
				+arr(14,7,#cecfd3,t)
	.steps__foot
		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 70px
		padding: 14px 20px
		font-size: 0
		z-index: 4
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			top: -3px
			height: 3px
			background: rgba(0,0,0,.15)
			box-shadow: 0 -1px 0 rgba(0,0,0,.15) inset 
		+r(760)
			height: 60px
			padding: 11px 30px
	.steps__btn
		display: inline-block
		width: 50%
		padding-left: 10px
		vertical-align: top
		&:first-child
			padding: 0 10px 0 0
	.steps__prev,
	.steps__next,
	.steps__help
		width: 100%
		height: 42px
		+fbl
		font-size: 28px
		+transition(background .2s, box-shadow .2s)
		+r(760)
			height: 37px
			font-size: 24px
		&:active
			box-shadow: 0 20px 20px -20px rgba(#000,.2) inset
	.steps__prev,
	.steps__next
		background: #DFE0E5 
		&:hover
			background: #EBECEF
		&:active
			background: #CFD0D9
	.steps__next
		&:after
			content: ""
			display: inline-block
			margin-left: 8px
			+arr(12,18,$cl,r)
			+r(760)
				+arr(8,14,$cl,r)
	.steps__prev
		&:before
			content: ""
			display: inline-block
			margin-right: 8px
			+arr(12,18,$cl,l)
	.steps__help
		background: #178147
		color: #FFF 
		&:hover
			background: #23a15c
		&:active
			background: #126f3c 
	.steps__content
		position: absolute
		top: 160px
		left: 0
		right: 0
		bottom: 70px
		+scroll
		z-index: 2 
		+r(760)
			top: 50px
			bottom: 60px
	.steps__content_universities
		+r(760)
			background: #ebebeb
		&.is-gray
			+r(760)
				background: #CECFD3 
	.steps__filters
		+r(760)
			display: none
		&.is-show
			+r(760)
				display: block

.checkbox
	display: block
	padding: 19px 10px 14px 20px
	box-shadow: 20px 1px 0 #999a9f, 20px 2px 0 #c5c6c9
	+nosel
	cursor: pointer
	&:hover
		.checkbox__el
			border-color: #737378
	.checkbox__input
		display: none
		&:checked + .checkbox__in
			.checkbox__el
				border-color: transparent
				.icon
					opacity: 1 
	.checkbox__in
		display: block
		+clr
	.checkbox__el,
	.checkbox__pic
		float: left
	.checkbox__el
		position: relative
		width: 20px
		height: 20px
		margin: 8px 20px 0 0
		border: 2px solid #999a9f
		font-size: 0
		+tr(border-color .2s)
		.icon
			position: absolute
			top: -2px
			left: -2px
			font-size: 20px
			opacity: 0
			+tr(opacity .2s) 
	.checkbox__pic
		width: 32px
		margin: 6px 10px 0 0
		img
			max-width: 100%
	.checkbox__pic_icon
		height: 36px
		margin-top: 0
		+vertical
		.icon
			font-size: 28px
			vertical-align: middle
		.icon-study-business
			font-size: 23px
		.icon-study-health
			font-size: 36px
	.checkbox__title
		display: table
		color: #61666C 
		span
			display: block
			margin-bottom: 1px
			+fbl
			font-size: 16px
			color: $cl 

.range
	padding: 25px 20px
	box-shadow: 20px 1px 0 #999a9f, 20px 2px 0 #c5c6c9
	+r(760)
		box-shadow: 20px 1px 0 #999a9f, 20px 2px 0 #d8d9dc
	.range__title
		margin-bottom: 3px
		+fb
		font-size: 20px
	.range__rank
		margin-bottom: 10px
		color: #7B7B82
		font-size: 0
	.range__rank-icon
		display: inline-block
		width: 50%
		vertical-align: bottom
		font-size: 16px 
		&:last-child
			font-size: 24px
			text-align: right
	.ui-slider
		position: relative
		height: 8px
		background: #999A9F
	.ui-slider-range
		position: absolute
		top: 0
		bottom: 0
		background: #5e5e65 
	.ui-slider-handle
		position: absolute
		top: -6px
		margin-left: -10px
		width: 20px
		height: 20px
		background: $orange
		+tr(background .2s)
		cursor: pointer
		&:hover
			background: #FFAE00 

.selected
	padding: 25px 60px 20px
	+r(1020)
		padding: 20px 20px 10px
	&.selected_mobile
		display: none
		padding: 20px 0 10px 20px
		box-shadow: 20px 1px 0 #999a9f, 20px 2px 0 #d8d9dc
		+r(760)
			display: block
	.selected__title
		margin-bottom: 10px
		+fb
		font-size: 28px
		color: #FFF
		+r(1020)
			font-size: 24px
		span
			color: $orange
	.selected__list
		font-size: 0
	.selected__btn
		height: 26px
		margin: 0 10px 10px 0
		padding: 2px 10px 0
		background: $orange 
		font-size: 0
		color: #FFF 
		vertical-align: top
		&:hover
			.icon
				opacity: 1 
		span
			font-size: 16px
		.icon
			margin-left: 10px
			font-size: 12px
			opacity: .5
			+tr(opacity .2s) 

.universities
	padding: 0 10px
	font-size: 0
	text-align: center
	&.universities_mobile
		display: none
		padding: 0
		&.is-show
			+r(760)
				display: block
	.universities__item
		display: inline-block
		width: 300px
		margin: 0 10px 30px
		text-align: left
		+r(760)
			display: block
			margin: 0 auto
			padding: 10px 0
	.universities__pager
		position: relative
		text-align: center
		font-size: 0
		z-index: 2
	.universities__prev,
	.universities__next,
	.universities__pages
		display: inline-block
		vertical-align: middle
		font-size: 12px
		color: #92929D
	.universities__prev,
	.universities__next
		padding: 10px
	.universities__pages
		padding-bottom: 2px

.university
	display: block
	width: 300px
	margin: 0 auto
	background: #FFF
	box-shadow: 0 1px 3px #C2C9CE
	vertical-align: top
	color: $cl 
	text-align: left
	+tr(box-shadow .2s)
	&:hover
		box-shadow: 0 0 0 3px $orange, 0 1px 3px 3px #C2C9CE
	.university__pic
		img
			max-width: 100%
	.university__info
		padding: 0 20px 15px
	.university__logo
		position: relative
		width: 80px
		height: 80px
		margin: -40px 0 3px
		padding: 5px 
		border-radius: 50%
		background: #FFF
		+vertical
		overflow: hidden
		img
			max-width: 100%
			max-height: 100%
			vertical-align: middle
	.university__title
		height: 84px
		margin-bottom: 10px
		+fb
		font-size: 20px
		line-height: 1.4
	.university__address
		font-size: 16px
		color: #92929D
		+text-overflow

.loader
	padding: 20px 0 50px
	text-align: center
	font-size: 0
	.loader__el
		display: inline-block
		position: relative
		width: 30px
		height: 30px
		vertical-align: top
	.loader__lines-top,
	.loader__lines-down
		&:before,
		&:after
			content: ""
			display: inline-block
			width: 15px
			height: 15px
			border-style: solid
			border-color: $gray
			vertical-align: top
	.loader__lines-top
		&:before
			border-width: 3px 0 0 3px
			+animation(loader1 2s 0s infinite)
		&:after
			border-width: 3px 3px 0 0
			+animation(loader2 2s 1s infinite)
	.loader__lines-down
		&:before
			border-width: 0 0 3px 3px
			+animation(loader4 2s 0s infinite)
		&:after
			border-width: 0 3px 3px 0
			+animation(loader3 2s 1s infinite)
		
+keyframes(loader1)
	0, 100%
		+translate(0, 0)
		border-color: $gray
	50%
		+translate(-3px, -3px)
		border-color: $orange
+keyframes(loader2)
	0, 100%
		+translate(0, 0)
		border-color: $gray
	50%
		+translate(3px, -3px)
		border-color: $orange
+keyframes(loader3)
	0, 100%
		+translate(0, 0)
		border-color: $gray
	50%
		+translate(3px, 3px)
		border-color: $orange
+keyframes(loader4)
	0, 100%
		+translate(0, 0)
		border-color: $gray
	50%
		+translate(-3px, 3px)
		border-color: $orange

.page
	padding: 80px 320px 20px 20px
	+r(1340)
		padding-right: 100px
	+r(1020)
		padding-top: 70px
	+r(760)
		padding: 50px 0 0 0
	.page__center
		max-width: 940px
		margin: 0 auto
		+r(1020)
			max-width: 648px
		+r(760)
			max-width: 100%

.menu
	position: fixed
	top: 60px
	right: 0
	bottom: 0
	width: 300px
	background-color: #B7B8BC
	box-shadow: 0 0 7px #C2C9CE
	overflow: auto
	z-index: 2
	+r(1340)
		width: 80px
	+r(1020)
		top: 50px
	+r(760)
		display: none
	.menu__link
		display: table
		width: 100%
		padding-left: 30px
		box-shadow: 30px 1px 0 #999a9f, 30px 2px 0 #c5c6c9
		color: $cl
		+tr(background .2s)
		+r(1340)
			padding-left: 8px
			box-shadow: 8px 1px 0 #999a9f, 8px 2px 0 #c5c6c9
		&:hover,
		&.is-active
			box-shadow: none
		&:hover
			background: #D0D1D3 
		&.is-active
			background: #ededed
			cursor: default  
	.menu__icon,
	.menu__title
		display: table-cell
		height: 70px
		vertical-align: middle
	.menu__icon
		width: 45px
		padding-right: 15px
		text-align: center
		font-size: 0
		+r(1340)
			padding-right: 8px
		.icon
			font-size: 30px
	.menu__title
		+fb
		font-size: 16px
		line-height: 1.2
		+r(1340)
			display: none

.chapter
	margin-bottom: 20px
	background: #FFF
	box-shadow: 0 1px 3px #C2C9CE
	+r(760)
		margin: 0
		border-bottom: 1px solid #d3d3d5 
		box-shadow: none
	&.chapter_form
		.chapter__head
			background: #e8f5ee
			box-shadow: none 
			+r(760)
				background: none
		.chapter__body
			background: url(../img/bg-man.jpg) no-repeat 5% 100%
			+r(1020)
				background: none
	&.chapter_form_sm
		margin: 0
		box-shadow: none
		+r(760)
			margin-left: -40px
		.chapter__head
			padding: 20px 30px 20px 40px
			background: #bfe1cf
			box-shadow: none
			+r(760)
				padding: 15px 20px
			& + .chapter__body
				padding: 25px 20px
		.chapter__body
			display: none
			position: relative
			padding: 30px 30px 30px 40px
			background: url(../img/bg-man.jpg) no-repeat -5% 100%
			z-index: 6 
			+r(1020)
				background: none
			+r(760)
				padding: 25px 20px
				box-shadow: none
			&:before
				content: ""
				position: absolute
				top: -8px 
				right: 160px
				+arr(16,8,#fff,t)
				+r(1020)
					right: 50%
					margin-right: -8px
		.chapter__title
			font-size: 20px
			+r(760)
				font-size: 14px
	.chapter__head
		position: relative
		display: table
		width: 100%
		padding: 20px 50px
		background: #F7F7F5
		box-shadow: 0 1px 3px #C2C9CE
		+clr
		z-index: 4
		+r(760)
			padding: 25px 20px
			background: none
			box-shadow: none
			cursor: pointer
			+nosel
			&.is-active
				.chapter__head-arrow
					+rotate(180)
	.chapter__head-arrow,
	.chapter__head-icon
		display: none
		float: left
		font-size: 0
		+r(760)
			display: block
	.chapter__head-arrow
		margin: 10px 15px 0 0
		.icon
			font-size: 8px 
			color: #B7B8BC 
	.chapter__head-icon
		margin: 0 10px 0 0
		.icon
			font-size: 30px
	.chapter__wrap
		+r(760)
			display: none
			&.is-show
				display: block
			.chapter__body
				padding-top: 0
	.chapter__cell
		display: table-cell
		vertical-align: middle
		+r(1020)
			display: block
		&:last-child
			padding-left: 20px
			+r(1020)
				padding: 20px 0 0 0
				text-align: center
	.chapter__cell-btn
		min-width: 280px
		+r(760)	
			min-width: 100%
	.chapter__body
		padding: 50px
		+r(1020)
			padding: 45px 50px
		+r(760)
			padding: 20px
	.chapter__body_sm
		padding: 40px 50px
		+r(760)
			padding: 20px
	.chapter__title
		+fbl
		font-size: 28px
		+r(760)
			display: table
			padding-top: 6px
			font-size: 16px
	.chapter__text
		color: #61666C
		+r(760)
			display: none
	.chapter__pic
		margin-bottom: 40px
		+r(760)
			margin: 0 -20px 20px
		img
			display: block
			width: 100%

.info
	&.is-fixed
		+rm(761)
			.info__bg
				position: fixed
				top: 60px
				left: 0
				right: 300px
				z-index: 20
				+r(1340)
					right: 80px
				+r(1020)
					top: 50px
			.info__wrap
				padding: 10px 20px 10px 60px
			.info__logo
				width: 50px
				height: 50px
				padding: 5px
			.info__in
				margin: 0 0 0 70px
				+clr
				+r(1020)
					padding: 0
			.info__title
				float: left
				max-width: 60%
				margin: 0
				padding: 11px 0
				font-size: 28px
			.info__address
				padding: 15px 0 11px 40px
				overflow: hidden
			.info__address-wrap
				float: right
			.info__address-in
				font-size: 16px
			.info__details
				display: none
	.info__bg
		+cover
		color: #FFF
	.info__wrap
		padding: 40px 30px
		+g(rgba(#000,.5), rgba(#000,.7))
		+r(1020)
			padding: 20px 20px 40px 50px
		+r(760)
			padding: 20px
	.info__logo
		float: left
		width: 175px
		height: 175px
		padding: 10px
		background: #FFF
		border-radius: 50%
		+vertical
		overflow: hidden
		+r(1020)
			width: 122px
			height: 122px
		+r(760)
			float: none
			width: 88px
			height: 88px
			margin: 0 auto 15px
		img
			max-width: 100%
			max-height: 100%
			vertical-align: middle
	.info__in
		margin: 0 0 40px 210px
		+r(1020)
			margin-left: 150px
			padding-top: 30px
		+r(760)
			padding: 0
			margin: 0
			text-align: center
	.info__title
		margin-bottom: 5px
		+fbl
		font-size: 48px
		line-height: 1
		letter-spacing: -1px
		+r(1020)
			font-size: 36px
		+r(760)
			font-size: 28px
	.info__address
		font-size: 18px
		+r(760)
			margin-bottom: 20px
			font-size: 14px
	.info__address-icon,
	.info__address-in
		display: table-cell
		vertical-align: top
		+r(760)
			display: block
	.info__address-icon
		float: left
		padding-right: 10px
		+r(760)
			display: none
	.info__details
		margin-left: 210px
		font-size: 0
		+r(1020)
			margin: 0
		+r(760)
			display: table
			margin: 0 auto
	.info__details-item,
	.info__details-icon,
	.info__details-in
		display: table-cell
		vertical-align: middle
	.info__details-item
		padding-left: 20px
		+r(760)
			display: block
			margin-top: 15px
			padding: 0
		&:first-child
			padding: 0
			+r(760)
				margin: 0
	.info__details-icon
		padding-right: 10px
		.icon
			font-size: 35px
			color: $orange
			+r(1020)
				font-size: 25px
	.info__details-in
		font-size: 16px
	.info__details-title
		+fbl
	
.l
	+clr
	&.l_mb-40
		margin-bottom: 40px
		+r(760)
			margin-bottom: 20px
	&.l_border
		margin-bottom: 40px
		padding-bottom: 30px
		+r(760)
			margin-bottom: 20px
	&.l_border_moved
		margin: 0 -50px 45px 0
		padding: 0 50px 45px 0
		border-bottom: 1px solid #eeeeee
		+r(760)
			margin: 0 0 20px 0
			padding: 0 0 20px 0

.col
	float: left
	width: 50%
	padding-left: 25px
	+r(1020)
		width: 100%
		padding: 0
	&:first-child
		padding: 0 25px 0 0
		+r(1020)
			margin-bottom: 40px
			padding: 0
		+r(760)
			margin-bottom: 20px
	&.col_40
		width: 40%
		+r(1020)
			width: 100%
	&.col_60
		width: 60%
		+r(1020)
			width: 100%
	&.col_r
		&:first-child
			+r(1020)
				margin: 0
				padding: 0 25px 0 0
			+r(760)
				padding: 0 10px 0 0
		+r(1020)
			width: 50%
			padding-left: 25px
			+r(760)
				padding-left: 10px

.title
	margin-bottom: 40px
	+fbl
	font-size: 22px
	+r(760)
		margin-bottom: 20px

.wrap-courses
	display: none

.wrap-text
	position: relative
	overflow: hidden
	.text
		padding-bottom: 40px

.text
	font-size: 16px
	color: #7A7A86
	line-height: 1.8
	letter-spacing: -.2px
	+r(760)
		font-size: 14px
	h3
		margin-bottom: 14px
		+fk
		font-size: 28px
		font-weight: 400
		line-height: 1.3
		color: #12252B  
	p
		margin-bottom: 10px
		& + h3
			margin-top: 40px
		& + img
			margin-top: 40px
	img
		display: block
		max-width: 100%
		margin-bottom: 40px
		+r(760)
			margin: 20px 0
	a
		+fb
		color: #36B15C
	blockquote
		position: relative
		margin-bottom: 20px
		padding-left: 86px
		&:before
			content: "\e640"
			position: absolute
			top: 0
			left: 0
			+fi
			font-size: 46px
			color: $orange 

.more
	position: absolute
	left: 0
	right: 0
	bottom: 0
	padding-top: 80px
	+background-image(linear-gradient(rgba(#fff,0) 0%, rgba(#fff,1) 70%))
	text-align: center
	.more__link
		border-bottom: 1px dotted
		font-size: 16px
		color: #7a7a86  

.stats
	+r(1020)
		width: 365px
	+r(760)
		width: 280px
	.stats__item
		display: table
		width: 100%
		padding: 23px 10px
		background: #B7B8BC
		+r(1340)
			padding: 23px 20px
		+r(760)
			padding: 20px 10px
		& + .stats__item
			margin-top: 30px
			+r(760)
				margin-top: 20px
	.stats__item_orange
		background: $orange
		color: #FFF
	.stats__item_big
		padding: 23px 20px
		+r(1020)
			padding: 20px 10px
		.stats__icon
			.icon
				font-size: 62px
				+r(760)
					font-size: 42px
		.stats__value-number
			height: 78px
			font-size: 90px
			+r(760)
				height: 54px
				font-size: 62px
		.stats__title
			font-size: 20px
			+r(760)
				padding: 0
				font-size: 16px
	.stats__item_ratio
		padding: 23px 37px
		.stats__icon,
		.stats__value
			padding-right: 15px
		.stats__icon
			.icon
				font-size: 64px
				+r(760)
					font-size: 40px
		.stats__value-number
			height: 78px
			font-size: 90px
			+r(760)
				height: 50px
				font-size: 55px
		.stats__title
			font-size: 24px
			line-height: 1
			+r(760)
				font-size: 14px
	.stats__icon,
	.stats__value,
	.stats__title
		display: table-cell
		vertical-align: middle
	.stats__icon,
	.stats__value
		padding-right: 10px
	.stats__icon
		font-size: 0
		.icon
			font-size: 64px
			+r(1340)
				font-size: 52px
			+r(760)
				font-size: 40px
	.stats__value
		white-space: nowrap
	.stats__value-number,
	.stats__value-type
		display: inline-block
		line-height: 1
	.stats__value-number
		max-width: 105px
		height: 74px
		+fbl
		font-size: 84px
		letter-spacing: -5px
		+r(1340)
			height: 60px
			font-size: 70px
		+r(760)
			height: 48px
			font-size: 55px
	.stats__value-type
		+fb
		font-size: 30px
		+r(760)
			font-size: 25px
	.stats__value-dots
		margin: 0 5px
		font-size: 60px
		vertical-align: middle
	.stats__title
		padding-top: 2px
		+fbl
		font-size: 20px
		text-transform: uppercase
		line-height: 1.1
		+r(1340)
			padding-top: 4px
			font-size: 18px
		+r(760)
			font-size: 14px
	.stats__lower
		text-transform: none

.tabs
	.tabs__nav
		font-size: 0
		+r(760)
			display: none
	.tabs__nav-mob
		display: none
		padding-left: 40px
		+r(760)
			display: block
	.tabs__btn
		width: 50%
		height: 100px
		padding: 0 120px
		background: #F7F7F5 
		vertical-align: top
		+fbl
		font-size: 24px
		+r(1020)
			padding: 0 50px
		+r(760)
			width: 100%
			height: auto
			min-height: 58px
			padding: 10px 20px 10px 0
			border-top: 1px solid #e8e8e9
			background: #fff 
			font-size: 14px
			text-align: left
		.icon-arrow-down
			display: none
			position: relative
			top: -1px
			margin-right: 9px 
			font-size: 8px
			color: #B7B8BC
			vertical-align: middle
			+r(760)
				display: inline-block
		&.is-active
			background: #fff
			+r(760)
				.icon-arrow-down
					top: -2px
					+rotate(180)
	.tabs__item
		display: none

.studies
	display: flex
	padding: 10px
	font-size: 0
	flex-wrap: wrap
	+r(760)
		padding: 0 0 0 40px
	.studies__item
		display: inline-block
		position: relative
		width: 25%
		margin-bottom: 10px
		padding: 25px 25px 15px
		border: 3px solid transparent
		+tr(border-color .2s)
		vertical-align: top
		text-align: center
		&:last-child
			+r(760)
				border: none
		+r(1020)
			width: 50%
		+r(760)
			display: block
			width: 100%
			margin: 0
			padding: 13px 20px 13px 45px
			border: 1px solid #e8e8e9
			border-width: 0 0 1px
			text-align: left
		&:hover
			border-color: $orange
			+r(760)
				border-color: #e8e8e9
	.studies__icon
		height: 44px
		margin-bottom: 10px
		+vertical
		+r(760)
			position: absolute
			top: 13px
			left: 0
			width: 45px
			height: 30px
			margin: 0
			text-align: left
		.icon
			font-size: 38px
			color: #B7B8BC
			+r(760)
				font-size: 30px
		.icon-study-other
			font-size: 12px
			+r(760)
				font-size: 7px
		.icon-study-business
			+r(760)
				font-size: 26px
	.studies__title
		+fbl
		font-size: 18px
		color: $cl
		+r(760)
			font-size: 14px
	.studies__text
		font-size: 14px
		color: #61666C
		+r(760)
			font-size: 12px

.responses
	+r(760)
		width: 320px
		margin: 0 auto
		padding: 0 20px
	.responses__title
		margin-bottom: 15px
		padding: 0 50px
		+fk
		font-size: 28px
		+r(760)
			padding: 0
			font-size: 26px
	.responses__row
		padding: 0 15px 
		font-size: 0
		+r(1020)
			padding: 0
	.responses__col
		display: inline-block
		width: 33.33%
		padding: 0 15px 
		vertical-align: top
		+r(1020)
			width: 50%
			padding: 0 25px 50px
		+r(760)
			display: block
			width: 100%
			padding: 0 0 25px
		&:first-child,
		&:last-child
			.responses__item
				background: $orange
				color: #FFF
				&:after
					border-color: $orange transparent transparent transparent
		&:first-child
			.responses__item
				&:after
					margin-left: -35px
					border-width: 0 15px 15px 0
					border-color: transparent $orange transparent transparent
			.responces__bg-item
				color: #b7b8bc
				&:first-child
					color: #F4F4F4
		&:nth-child(2)
			.responses__bg-item
				color: $orange
				&:first-child
					color: #F4F4F4
		&:last-child
			.responses__text-big
				letter-spacing: 4px
			.responses__bg-item
				color: #F4F4F4
				&:first-child
					color: #b7b8bc
		.responses__bg
			display: none
			+r(1020)
				display: block
	.responses__item
		position: relative
		padding: 15px 10px 10px
		background: #b7b8bc
		text-align: center
		&:after
			content: ""
			position: absolute
			bottom: -14px
			left: 50%
			margin-left: 60px
			+arr(15,15,#b7b8bc,tl)
	.responses__head
		margin-bottom: 2px
		font-size: 0
	.responses__icon,
	.responses__value
		display: inline-block
		vertical-align: middle
	.responses__icon
		margin-right: 13px
		.icon
			font-size: 54px
			+r(760)
				font-size: 40px
	.responses__value
		height: 60px
		line-height: 1
		+r(760)
			height: 46px
	.responses__value-number,
	.responses__value-type
		display: inline-block
		+fbl
	.responses__value-number
		font-size: 72px
		+r(760)
			font-size: 55px
	.responses__value-type
		font-size: 40px
		+r(760)
			font-size: 35px
	.responses__text-small 
		+fb
		font-size: 23px
		+r(760)
			font-size: 21px
	.responses__text-big
		+fbl	
		font-size: 22px
		text-transform: uppercase
		+r(760)
			font-size: 20px
	.responses__bg
		height: 100px
		margin-top: 20px
		font-size: 0
		text-align: center
		overflow: hidden
		+r(1020)
			display: none
			height: auto
	.responses__bg-item
		display: inline-block
		width: 20%
		vertical-align: top
		color: #F4F4F4
		+r(1020)
			width: 50%
		&:nth-child(2),
		&:nth-child(4)
			color: #B7B8BC
		&:nth-child(3)
			color: $orange 
		.icon
			font-size: 125px

.respond
	max-width: 390px
	.respond__title
		margin-bottom: 15px
		+fk
		font-size: 28px
		+r(760)
			font-size: 26px
	.respond__list
		display: table
	.respond__item
		display: table-row
		+fbl
		&:last-child
			.respond__icon,
			.respond__value,
			.respond__content
				+r(760)
					padding: 0
	.respond__icon,
	.respond__value,
	.respond__content
		display: table-cell
		padding-bottom: 50px
		vertical-align: middle
		+r(760)
			padding-bottom: 20px 
	.respond__icon,
	.respond__value
		padding-right: 10px
	.respond__icon
		font-size: 0
		color: #b7b8bc
		text-align: center
		.icon
			font-size: 52px
			+r(760)
				font-size: 38px
		.icon-comments
			font-size: 61px
			+r(760)
				font-size: 42px
	.respond__value
		letter-spacing: -4px
		white-space: nowrap
		color: $orange
		line-height: 1
	.respond__value-number,
	.respond__value-type
		display: inline-block
	.respond__value-number
		height: 62px
		font-size: 72px
		+r(760)
			height: 46px
			font-size: 55px
	.respond__value-type
		font-size: 30px
		+r(760)
			height: 10px
			font-size: 25px
	.respond__content
		line-height: 1.2
	.respond__text
		font-size: 16px
		color: #B7B8BC
		+r(760)
			font-size: 12px
	.respond__type
		font-size: 18px
		text-transform: uppercase
		color: $orange
		+r(760)
			font-size: 12px
		sup
			font-size: 12px
			vertical-align: top
	
.join
	padding: 32px 50px
	background: #E8F5EE
	+r(1020)
		padding: 40px 50px 50px
	+r(760)
		padding: 20px
	.join__cell
		display: table-cell
		vertical-align: middle
		+r(1020)
			display: block
	.join__title
		position: relative
		+fk
		font-size: 38px
		letter-spacing: -1px
		+r(1020)
			margin-bottom: 15px
		+r(760)
			font-size: 26px
			text-align: center
		span
			color: #209D5C
			+r(1020)
				display: block
		.icon
			position: absolute
			right: -22px
			bottom: -11px
			font-size: 17px
			color: #209D5C
			+r(1020)
				display: none 
	.join__btn
		white-space: nowrap
		letter-spacing: 1.5px
		+r(760)
			width: 100%

.btn
	height: 63px
	padding: 0 28px
	background: #198249 
	+fbl
	font-size: 32px
	color: #FFF
	text-transform: uppercase
	+transition(background .2s, box-shadow .2s)
	+r(760)
		height: 48px
		padding: 0 10px
		font-size: 24px
	&:hover
		background: #23a15c
	&:active
		background: #126f3c
		box-shadow: 0 20px 20px -20px rgba(#000,.2) inset
	&.btn_wide_max
		max-width: 100%
	&.btn_sm
		height: 53px
		font-size: 24px

.salary
	overflow: hidden
	+r(760)
		margin-left: -20px
	.salary__title
		margin-bottom: 15px
		+fbl
		font-size: 20px
		+r(760)
			padding-left: 20px
	.salary__item
		margin-top: 10px
		color: #7A7A86
		+clr
	.salary__item_sm
		.salary__icon
			width: 487px
			+r(1020)
				width: 183px
			+r(760)
				width: 47px
	.salary__item_lg
		.salary__icon
			+r(1020)
				width: 288px
			+r(760)
				width: 152px
	.salary__icon,
	.salary__data
		float: left
	.salary__icon
		font-size: 0
		color: #B7B8BC
		overflow: hidden
		.icon
			float: right
			font-size: 37px
	.salary__data
		padding: 7px 0 0 13px
		line-height: 1
		span
			margin-right: 5px
			+fbl
			font-size: 28px
			color: $orange
			vertical-align: middle
			+r(760)
				display: block

.field
	.field__label
		margin-bottom: 6px
		+fb
		font-size: 14px
		color: #9FABAD 

.form
	position: relative
	padding: 24px 27px 28px
	background: #FFF 
	border: 3px solid #209D5C
	box-shadow: 0 7px 15px rgba(194, 201, 206, 0.7)
	+r(760)
		padding: 15px
	.form__field
		margin-bottom: 24px
		+r(760)
			margin-bottom: 20px
	.form__btn
		width: 100%
		+r(1020)
			display: block
			width: auto
			margin: 0 auto
		+r(760)
			width: 100% 

.course
	border-top: 1px solid #f0f0f0
	.course__head
		padding: 20px 30px 30px
		+clr
		+r(760)
			display: none
	.course__head-menu
		float: left
		margin: 9px 30px 0 0
		font-size: 32px
		color: #BDBDBF
		cursor: pointer
	.course__head-icon
		float: left
		width: 50px
		height: 50px
		margin-right: 15px
		background: $orange
		border-radius: 50%
		color: #fff  
		+vertical
		.icon
			font-size: 28px
			vertical-align: middle
	.course__head-info
		display: table
		padding-top: 5px
	.course__head-title
		+fbl
		font-size: 18px
	.course__head-counter
		color: #61666C
	.course__container
		display: none
		position: relative
		box-shadow: inset 0 1px 10px #E3E3E3
		z-index: 2
	.course__arr
		position: absolute
		top: -10px
		left: 107px
		height: 16px
		overflow: hidden
		&:before
			content: ""
			display: block
			width: 20px
			height: 20px
			margin-top: 5px
			+rotate(45)
			background: #F7F7F5 
			box-shadow: inset 0 1px 10px #E3E3E3
	.course__item
		&.is-active
			.course__item-arr
				margin-top: 6px
				+r(760)
					margin-top: 3px
				.icon
					+rotate(180)
			.course__item-head
				&:before
					display: none
		.course__arr
			left: 127px
			&:before
				background: #EFEFEB 
	.course__item-head
		position: relative
		padding: 25px 30px 22px 90px
		background: #f7f7f5
		cursor: pointer
		+clr
		+nosel
		+r(1020)
			padding-left: 60px
		+r(760)
			padding: 15px 20px 15px 30px
		&:before
			content: ""
			position: absolute
			left: 90px
			bottom: 0
			right: 0
			height: 1px
			background: #ececeb 
	.course__item-arr
		float: left
		margin: 8px 17px 0 0
		font-size: 9px
		color: #B7B8BC
		+r(760)
			margin-top: 4px
		.icon
			display: inline-block
	.course__item-title
		display: table
		+fb
		font-size: 18px
		letter-spacing: -.2px
		+r(760)
			font-size: 14px
	.course__item-body
		display: none
		position: relative
		padding: 30px 45px 30px 120px
		background: #EFEFEB
		box-shadow: inset 0 1px 10px #E3E3E3
		+r(1020)
			padding-left: 90px
		+r(760)
			padding: 15px 20px 15px 60px
		
.inform
	margin-bottom: 10px
	.inform__title
		margin-bottom: 25px
		+fb
		font-size: 16px
		color: #61666c 
		+r(760)
			margin-bottom: 15px
			font-size: 14px
	.inform__list
		font-size: 0
	.inform__item
		display: inline-block
		width: 25%
		margin-bottom: 15px
		padding-right: 20px
		vertical-align: top
		+r(1020)
			width: 50%
		+r(760)
			padding-right: 10px
	.inform__item_w33
		width: 33.33%
		+r(1020)
			width: 50%
		+r(760)
			width: 100%
	.inform__head
		margin-bottom: 5px
		line-height: 1
		+r(760)
			margin-bottom: 10px
	.inform__icon,
	.inform__type
		display: inline-block
		vertical-align: middle
	.inform__icon
		padding-right: 10px
		font-size: 0
		.icon
			font-size: 27px 
			color: #B7B8BC
			+r(760)
				font-size: 23px
	.inform__type
		height: 30px
		font-size: 22px
		color: $orange
		+r(760)
			height: 22px
			font-size: 15px
	.inform__bold
		+fbl
	.inform__value
		+fbl
		font-size: 36px
		+r(760)
			font-size: 30px
	.inform__text
		padding-right: 25px
		font-size: 14px
		line-height: 1.2
		+r(760)
			font-size: 11px

.data
	+fbl
	font-size: 0
	.data__item
		display: inline-block
		width: 25%
		padding: 0 25px
		vertical-align: top
	.data__value
		font-size: 50px
		color: $orange
		letter-spacing: -3px 
		line-height: 1
		+r(760)
			font-size: 36px
		span
			font-size: 40px
			+r(760)
				font-size: 26px
	.data__text
		font-size: 18px
		+r(760)
			font-size: 14px

.graph
	&.graph_mb-40
		margin-bottom: 40px
		+r(760)
			margin-bottom: 20px
	.graph__title
		margin-bottom: 20px
		+fbl
		font-size: 22px
		+r(760)
			font-size: 16px
	.graph__in
		+clr
	.graph__el
		float: left
		width: 120px
		margin-right: 12px
		+r(1020)
			margin-right: 40px
		+r(760)
			width: 80px
			margin-right: 12px
		img
			display: block
			max-width: 100%
	.graph__list
		margin-bottom: -38px
		font-size: 0
		overflow: hidden
		+r(760)
			margin-bottom: -15px
	.graph__item
		display: inline-block
		width: 50%
		margin-bottom: 38px
		padding-right: 20px
		vertical-align: top
		+r(760)
			margin-bottom: 15px
			padding-right: 10px
	.graph__value
		+fbl
		font-size: 24px
		color: $orange
		line-height: 1.2
		+r(760)
			font-size: 16px
	.graph__country
		font-size: 16px
		color: #7A7A86
		+r(760)
			font-size: 12px

.average
	padding: 25px 20px 20px
	background: #b7b8bc
	+fbl
	text-align: center
	+r(1020)
		max-width: 365px
	&.average_orange
		background: $orange
		color: #fff
	.average__money
		font-size: 71px
		line-height: 1
		letter-spacing: -5px
		+r(760)
			font-size: 50px
			letter-spacing: -2px
		span
			font-size: 49px
			+r(760)
				font-size: 35px
			&:first-child
				font-size: 41px
				+r(760)
					font-size: 30px
	.average__title
		font-size: 26px
		text-transform: uppercase
		letter-spacing: 1.5px
		+r(760)
			font-size: 19px
	.average__text
		font-size: 18px
		+r(760)
			font-size: 14px

.date
	margin-bottom: 25px
	padding: 25px 20px
	background: #b7b8bc
	+fbl
	text-align: center
	+r(1020)
		max-width: 365px
	+r(760)
		padding: 20px
	&.date_orange
		background: $orange
		color: #FFF
	.date__head	
		margin-bottom: 12px
		font-size: 0
	.date__icon,
	.date__value
		display: inline-block
		vertical-align: middle
	.date__icon
		margin-right: 17px
		.icon
			font-size: 50px
			+r(760)
				font-size: 40px
	.date__value
		height: 60px
		font-size: 70px
		line-height: 1
		letter-spacing: -2px
		+r(760)
			height: 48px
			font-size: 55px
		span
			position: relative
			top: -2px
			+f
			font-size: 55px
			vertical-align: middle
	.date__title
		font-size: 38px
		letter-spacing: 8px
		text-transform: uppercase
		line-height: 1
		+r(760)
			font-size: 24px
	.date__title_sm
		font-size: 26px
		letter-spacing: 1px
		+r(760)
			font-size: 19px
	.date__text
		font-size: 18px
		font-size: 14px 

.list
	margin-bottom: 40px
	.list__item
		margin-bottom: 20px
		+clr
	.list__icon
		float: left
		margin-right: 15px
		font-size: 0
		color: #B7B8BC 
		.icon
			font-size: 24px 
	.list__content
		display: table
		+fbl
		font-size: 26px
		color: $orange
		text-transform: uppercase
		line-height: 1.2

.counter
	padding: 25px 20px
	background: #b7b8bc 
	+fbl
	text-align: center
	line-height: 1
	+r(1020)
		max-width: 365px
	+r(760)
		padding: 20px
	.counter__head
		margin-bottom: 3px
		font-size: 0
	.counter__icon,
	.counter__value
		display: inline-block
		vertical-align: middle
	.counter__icon
		margin-right: 20px
		.icon
			font-size: 64px
			+r(760)
				font-size: 40px
	.counter__value
		height: 78px
		font-size: 90px
		+r(760)
			height: 48px
			font-size: 55px
	.counter__title
		font-size: 30px
		text-transform: uppercase
		letter-spacing: 2px
		+r(760)
			font-size: 18px
	.counter__text
		font-size: 24px
		+r(760)
			font-size: 16px

.popup
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	min-width: 320px
	padding: 80px 20px
	background: rgba(#000,.5) 
	overflow: auto
	+vertical
	z-index: 89 
	+r(1020)
		padding: 70px 20px
	+r(760)
		padding: 60px 10px
	.popup__in
		display: inline-block
		position: relative
		width: 100%
		max-width: 940px
		vertical-align: middle
		text-align: left
	.popup__chapter
		margin: 0
		box-shadow: 0 1px 13px rgba(26, 26, 25, 0.8)
	.popup__close
		position: absolute
		top: 25px
		right: 50px
		font-size: 0
		color: #209D5C
		opacity: .3  
		+tr(opacity .2s)
		z-index: 10
		+r(760)
			top: 27px
			right: 20px
		&:hover
			opacity: 1 
		.icon
			font-size: 24px  

.thank
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: #209d5c
	+vertical
	.thank__wrap
		display: inline-block
		padding: 0 60px
		vertical-align: middle
		color: #FFF 
	.thank__icon
		margin-bottom: 35px
		font-size: 0
		.icon
			font-size: 130px 
	.thank__title
		margin-bottom: 5px
		letter-spacing: 2px 
		+fbl
		text-transform: uppercase
		font-size: 32px
	.thank__text
		+fb
		font-size: 16px





















































